PORT=8088
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=naki_location
DB_SSLMODE=disable
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
KAFKA_BROKER=kafka:9092
JWT_SECRET=your_jwt_secret
